    <div class="notepad-inner component-inner" role="region" aria-label="{{_globals._components._notepad.ariaRegion}}" {{#if _globals._components._notepad.ariaRegion}}tabindex="0"{{/if}}>
    {{> component this}}
    <div class="notepad-widget component-widget">
        <div class="notepad-item component-item component-item-color component-item-border clearfix">
            <textarea class="notepad-item-textbox" maxlength="{{_maxlength}}" placeholder="{{placeholder}}" role="textbox">{{userInput}}</textarea>
        </div>
    </div>
    <div class="buttons">
        <div class="buttons-inner button-inner">
            <div class="buttons-cluster clearfix">
                <button class="buttons-action clear-text" aria-label="Clear text input">{{{btnText}}}</button>
            </div>
        </div>
    </div>
</div>